canvas { border:1px solid #ccc; margin-top:30px; }

div.slider { margin-bottom:20px; }

#dribbble-image img { width: 175px; border: 1px solid #ccc; margin-bottom:5px; }

#download { margin-top:20px; }